
table {
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    border-left: 2px solid black;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
    background-color: #EAF6F6;
    /* z-index: 1; */
}
.imgm{
  height: 12vh;
  width: 22vh;
}
.imag{
 
  display: flex;

  justify-content: center;
  
}


tr {
    border: 2px solid brown;
    padding: 2px;
}

table th,
table td {
    padding: 3px;
    text-align: center;
    border-right: 2px solid black;
}

table caption {
    color: brown;
    font-size: 30px;
}
@media screen and (max-width: 600px) {
    img{
        margin-left: 20px;
        margin-top: 0px;
    }
    .nav{
        display: flex;
        flex-direction: column;
        background-color: brown;
        width: 40vw;
         margin-left: -140px;
    }
    .nit{
        font-size: 20px;
        margin-top: 100px;
    }
    #navbar{
        width: 0px;

    }
    p{
        display: none;
    }
    .para{
    display: none;
    }
    table {
      border: 0;
      width: 100vw;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
     
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

